body {
    margin: 0;
}
.container {
    position: fixed;
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: start;
}
.nav {
    z-index: 1000;
    margin: 0;
    width: 100%;
    height: 7vh;
    background-color: #0a0b1d;
    /* background-color: #2e112d;
    background-color: #001a21;
    background-color: #b02e54; */
    background: transparent linear-gradient(120deg, #FCC965 0%, #EF3769 100%) 0% 0% no-repeat padding-box;
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
}
ul, li {
    list-style: none;
}
li > i:hover {
    cursor: pointer
}
.fa-bars {
    color: white;
    margin-right: auto;
    font-size: 6vh !important;
    padding: 0.5vh 0vw 0.5vh 1vw;
}
.fa-user-circle {
    color: white;
    margin-left: auto;
    font-size: 6vh !important;
    padding: 0.5vh 1vw 0.5vh 0vw;
}
#menu, #account {
    width: 30vw;
    height: 7vh;
    padding: 0;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    font-weight: bold;
    margin: 0;
    margin-top: -0.5vh;
}
#menu {
    margin-left: -17vw;
    margin-right: auto;
    text-align: left;
}
#account {
    margin-right: -17vw;
    margin-left: auto;
    text-align: right;
}
#menu > li, #account > li {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0vh 1vw;
    width: 12vw;
    height: 7vh;
    flex-direction: row;
    display: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 3vh;
}
#menu-mobile {
    display: none;
    z-index: 100;
}
#nav-mobile {
    display: none;
    z-index: 101;
}
#another-color {
    color: #002527;
}

@media only screen and (max-device-width: 1050px) {
    .nav > i {
        padding: 0.5vh 1.5vw;
    }
    #menu, #account {
        width: 40vw;
        margin-top: 0.5vh;
    }
    #menu {
        margin-left: 5vw;
    }
    #account {
        margin-right: 5vw;
    }
    #menu > li, #account > li {
        width: 15vw;
    }
    a {
        font-size: 1.5vh;
        width: 30vh;
    }
}
@media only screen and (max-device-width: 420px) {
    .nav > i {
        padding: 0.5vh 2vw;
    }
    #menu, #account { 
        display: none;
    }
    #nav-pc {
        display: none;
    }
    #nav-mobile {
        display: flex;
    }
    #menu-mobile {
        width: 100vw;
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin-top: 7vh;
        background: transparent linear-gradient(120deg, rgba(252, 201, 101, 0.9) 0%, rgba(239, 55, 105, 0.9) 100%) 0% 0% no-repeat padding-box;
    }
    #menu-mobile > li {
        justify-content: center;
        padding: 1vh 1vw;
    }
    #menu-mobile > li > a {
        font-size: 5vh;
    }
}