body {
    margin: 0;
}
#movie {
    position: fixed;
    width: 115%;
  }
.container {
    position: fixed;
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 100vh;
    /* background-image: url("../img/uploads/background.JPG");
    background-repeat: no-repeat; */
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-top: 15vw;
    resize: none;
    display: flex;
}
.logo img {
    width: 35vw;
}
.login-container {
    position: relative;
    width: 50%;
    display: none;
    flex-direction: row;
    min-width: 80%;
    min-height: 80%;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 5vh;
    background-color: rgba(196, 196, 196, .4);
}
form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
form h1 {
    font-size: 6vh;
    margin-bottom: 1vh;
}
.messages {
    height: 1vh;
    width: 35vw;
    text-align: center;
    margin-bottom: 1vh;
    text-decoration: underline;
}
input {
    font-family: 'Red Hat Text', sans-serif;
    background-color: #e3e3e3;
    border: none;
    padding: 1em 2em;
    margin: 1em;
    border-radius: 10vh;
    width: 22vw;
    height: 1vh;
    font-size: 1.2em;
}
.input-short input {
    text-align: center;
    width: 9.7vw;
    padding: 1em 1em;
    margin: 1em;
}
input[type=checkbox] {
    width: 1.3em;
    height: 1.3em;
}
.terms {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: -2em;
}
.terms input {
    margin-top: 1.2em;
}
.terms a {
    color: #002527;
}
.login button {
    margin: 1em;
}
::placeholder {
    font-family: 'Red Hat Text', sans-serif;
}
.input-short input::placeholder {
    text-align: center;
}
hr {
    border: none;
    border-left: 4px solid #002527;
    margin: 3vw 0vw;
}
button {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.7vw;
    width: 20vw;
    height: 8vh;
    background: transparent linear-gradient(-60deg, #EF3769 0%, #FCC965 100%) 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    border-radius: 10vh;
    box-shadow: 0px 6px 9px #00000029;
}

@media only screen and (max-device-width: 1050px) {
    #movie {
        width: 250% !important;
        height: auto !important;
        margin-left: -80vw;
    }
    .logo {
        margin-top: 40vw;
    }
    .logo img {
        width: 70vw;
    }
    .login-container {
        min-width: 90%;
    }
    .input-short {
        flex-direction: column;
    }
    .input-short input {
        margin: 0.5em;
        width: 11vw;
    }
    button {
        height: 6vh;
        width: 30vw;
        font-size: 2vh;
    }
    h2 {
        margin-bottom: 1.5em;
    }
    input {
        text-align: center;
        font-size: 1.2vh;
        width: 25vw;
        height: 1.5vh;
    }
}

@media only screen and (max-device-width: 420px) {
    #movie {
        width: 600% !important;
        height: auto !important;
        margin-left: -350vw !important;
        margin-top: -10vh;
    }
    form h1 {
        margin: 0;
    }
    .messages { 
        width: 80vw;
    }
    .container {
        background-position: 55%;
    }
    .logo {
        margin-top: 70vw;
        resize: none;
    }
    .logo img {
        width: 900px;
    }
    .container button {
        width: 70%;
    }
    .login-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    form.login {
        width: 80vw;
        margin: 1vh 0;
    }
    .terms input {
        margin-top: 1em;
    }
    h2 {
        font-size: 2vh;
        margin-bottom: 0.5em;
    }
    input[type=checkbox] {
        width: 2em;
        height: 2em;
        margin: 1.4em 1em 0 0;
    }
    hr {
        border: none;
        border-top: 4px solid #002527;
        width: 40%;
        margin: 0 30vw;
    }
    input {
        height: 2vh;
        width: 50vw;
        font-size: 1.3em; 
        margin: 1vh 1vw;
    }
    .input-short input {
        width: 23vw;
        margin-left: 2vw;
    }
    button {
        font-size: 5vw;
        height: 7vh;
    }
}