/* Login page and Main Style*/
body {
    margin: 0;
}
#movie {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
.container {
    position: fixed;
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-top: 15vw;
    resize: none;
    display: flex;
}
.logo img {
    width: 35vw;
}
.login-container {
    position: relative;
    width: 50%;
    height: 20vh;
    display: none;
    flex-direction: row;
    min-width: 80%;
    min-height: 80%;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 5vh;
    background-color: rgba(196, 196, 196, 0.2);
    backdrop-filter: blur(7px);
}
form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
h1 {
    font-size: 6vh;
    margin-bottom: 1vh;
}
.messages {
    height: 1vh;
    width: 35vw;
    text-align: center;
    margin-bottom: 2vh;
    text-decoration: underline;
    font-size: 2vh;
}
input {
    font-family: 'Red Hat Text', sans-serif !important;
    background-color: #e3e3e3;
    border: none;
    padding: 2vh 2vw;
    margin: 1.8vh;
    border-radius: 10vh;
    width: 22vw;
    height: 1vh;
    font-size: 2vh;
    font-weight: 700;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #e3e3e3 inset;
    font-family: 'Red Hat Text', sans-serif !important;
}
input:-webkit-autofill::first-line {
    font-family: 'Red Hat Text', sans-serif !important;
}
.input-short input {
    text-align: center;
    width: 9.7vw;
    padding: 2vh 1vw;
    margin: 1.8vh;
}
input[type=checkbox] {
    width: 2.5vw;
    height: 2.5vh;
}
.terms {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: -2vh;
}
.terms input {
    margin-top: 2vh;
}
.terms a {
    color: #002527;
}
.terms > h2 {
    font-size: 2.2vh;
}
.login button {
    margin: 2vh;
}
::placeholder {
    font-family: 'Red Hat Text', sans-serif;
}
.input-short input::placeholder {
    text-align: center;
}
hr {
    border: none;
    border-left: 0.5vh solid #002527;
    margin: 3vw 0vw;
}
button {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.7vw;
    width: 20vw;
    height: 8vh;
    background: transparent linear-gradient(120deg, #FCC965 0%, #EF3769 45%, #EF3769 55%, #FCC965 100%) 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    border-radius: 10vh;
    box-shadow: 0px 6px 9px #00000029;
    background-size: 200% auto !important;
    transition: background-position 0.5s !important;
    font-weight: 700;
}
button:hover {
    background-position: right center !important;
}
.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 60vw;
    min-height: 80vh;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 5vh;
    background-color: rgba(196, 196, 196, 0.2);
    backdrop-filter: blur(7px);
}

@media only screen and (max-device-width: 1050px) {
    .logo {
        margin-top: 40vw;
    }
    .logo img {
        width: 70vw;
    }
    .login-container {
        min-width: 90%;
    }
    .input-short {
        flex-direction: column;
    }
    .input-short input {
        margin: 1vh;
        width: 12.5vw;
        padding: 1.2vh 1vw;
    }
    button {
        height: 6vh;
        width: 30vw;
        font-size: 2vh;
    }
    h2 {
        margin-bottom: 1.5vh;
    }
    input {
        text-align: center;
        font-size: 1.2vh;
        width: 30vw;
        height: 1.5vh;
        padding: 1.2vh 1vw;
        margin: 1vh;
    }
    hr {
        border-left: 0.4vh solid #002527;
    }
    .content {
        min-width: 90%;
    }
}

@media only screen and (max-device-width: 420px) {
    form h1 {
        margin: 0;
    }
    .messages { 
        width: 80vw;
    }
    .container {
        background-position: 55%;
    }
    .logo {
        margin-top: 70vw;
        resize: none;
    }
    .logo img {
        width: 900px;
    }
    .container button {
        width: 70%;
    }
    .login-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    form.login {
        width: 80vw;
        margin: 1vh 0;
    }
    .terms input {
        margin-top: 1em;
    }
    h2 {
        font-size: 2vh;
        margin-bottom: 0.5em;
    }
    input[type=checkbox] {
        width: 4vw;
        height: 4vh;
        margin: 1vh 1.2vw 0 0;
    }
    hr {
        border: none;
        border-top: 0.7vw solid #002527;
        width: 40%;
        margin: 0 30vw;
    }
    input {
        height: 2vh;
        width: 50vw;
        font-size: 2vh; 
        margin: 1vh 1vw;
    }
    .input-short input {
        width: 23vw;
        margin-left: 2vw;
    }
    button {
        font-size: 5vw;
        height: 7vh;
    }
}
