body {
    margin: 0;
}
.container {
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/uploads/background.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-top: 15vw;
    resize: none;
    display: flex;
}
.logo img {
    width: 700px;
}
.login-container {
    width: 50%;
    display: none;
    flex-direction: row;
    width: 80vw;
    height: 80vh;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 25px;
    background-color: rgba(196, 196, 196, .4);
}
form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
form h1 {
    font-size: 60px;
}
input {
    background-color: #e3e3e3;
    border: none;
    padding: 1em 3em;
    margin: 1em;
    border-radius: 10vh;
    width: 50%;
    height: 1%;
    font-size: 1.2em;
}
.input-short {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: -1em;
}
.input-short input {
    width: 6vw;
    height: 8%;
}
input[type=checkbox] {
    width: 1em;
    height: 1em;
}
.terms {
    display: flex;
    flex-direction: row;
    color: white;
    margin-bottom: -2em;
}
.terms input {
    margin-top: 1.37em;
}
.terms a {
    color: #002527;
}
.login button {
    margin: 1em;
}
::placeholder {
    font-family: 'Red Hat Text', sans-serif;
}
.input-short input::placeholder {
    text-align: center;
}
hr {
    border: none;
    border-left: 4px solid #002527;
    height: 85%;
    margin-top: 3vw;
}
button {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 1.7vw;
    width: 20vw;
    height: 8vh;
    background: transparent linear-gradient(-60deg, #EF3769 0%, #FCC965 100%) 0% 0% no-repeat padding-box;
    color: white;
    border: none;
    border-radius: 10vh;
    box-shadow: 0px 6px 9px #00000029;
}

@media only screen and (max-device-width: 1100px) {
    .input-short {
        flex-direction: column;
    }
    .input-short input {
        flex-direction: row;
        width: 20vw;
        height: 5%;
        margin-left: 4vw;
    }
}

@media only screen and (max-device-width: 420px) {
    .container {
        background-position: 55%;
    }
    .logo {
        margin-top: 70vw;
        resize: none;
    }
    .logo img {
        width: 900px;
    }
    .container button {
        width: 70%;
    }
    .login-container {
        flex-direction: column;
        height: auto;
    }
    form.login {
        width: 80vw;
    }
    form.login:nth-child(2) {
        margin-top: 1vh;
    }
    hr {
        border: none;
        border-top: 4px solid #002527;
        width: 20vw;
    }
    input {
        height: 1vh;
    }
    .input-short input {
        width: 12.3vw;
        height: 1vh;
        margin-bottom: 3vw;
        margin-left: 2vw;
    }
    button {
        font-size: 5vw;
        height: 7vh;
    }
}